.header {
  height: 30vh;
  background-color: #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  background-image: url(../../assets/inages/mountains-1587287_1280.jpg);
  background-size: cover;
  background-position: center;
}

.input {
  width: calc(100% - 20px);
}
